<html>
<head>
	<title></title>
</head>
<body>
	<style type="text/css"> 
		a {color:#44B87B} 
		a:hover {color: #258E55} 
		a:link   
		{   
 		text-decoration:none;   
		}   
</style> 
<table>
<tr>
<td>
<img src="http://nextacai.com/static/img/signature.gif" width="165" height="101"> 
</td>
<td style="vertical-align:middle;">
<font color="#258E55" size="2" face="Open Sans, Arial, MS Sans Serif"><b>Renato Lerner</b><br></font>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">Partner<br></font>
<br>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">NEXT & CO<br>
4000 Hollywood Blvd, Suite 555-S,<br>
Hollywood, FLorida, USA, 33021<br>
T + 1 954 843 3447 | M + 1 954 909 8020 | M + 55 11 94766 0370<br>
<a href="mailto:se@nextacai.com" target="_blank">rl@nextacai.com</a><br><br>
<font color="#258E55" size="2"> <a href="http://nextacai.com" target="_blank"><b>www.nexteco.us</b></a></font>
</td>
</tr>
</table>
	
	
	
	
	
<table>
<tr>
<td>
<img src="http://nextacai.com/static/img/signature.gif" width="165" height="101"> 
</td>
<td style="vertical-align:middle;">
<font color="#258E55" size="2" face="Open Sans, Arial, MS Sans Serif"><b>Renato Lerner</b><br></font>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">CEO US<br></font>
<br>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">NEXT & CO<br>
4000 Hollywood Blvd, Suite 555-S,<br>
Hollywood, FLorida, USA, 33021<br>
T + 1 954 843 3447 | M + 1 954 909 8020 | M + 55 11 94766 0370<br>
<a href="mailto:se@nexteco.us" target="_blank">rl@nexteco.us</a><br><br>
<font color="#258E55" size="2"> <a href="http://nextacai.com" target="_blank"><b>www.nexteco.us</b></a></font>
</td>
</tr>
</table>
	
	
	
	<BR><BR>
	
<style type="text/css"> 
a {color:#44B87B} 
a:hover {color: #258E55} 
a:link   
{   
 text-decoration:none;   
}   
</style> 
<table>
<tr>
<td>
<img src="../../static/img/signature.gif" width="165" height="101"> 
</td>
<td style="vertical-align:middle;">
<font color="#258E55" size="2" face="Open Sans, Arial, MS Sans Serif"><b>Siulmary Ovalles</b><br></font>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">CEO<br></font>
<br>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">NEXT & CO<br>
4000 Hollywood Blvd, Suite 555-S,<br>
Hollywood, FLorida, USA, 33021<br>
T + 1 954 843 3447 | M +1 954 998 9996<br>
<a href="mailto:se@nextacai.com" target="_blank">se@nextacai.com</a><br><br>
<font color="#258E55" size="2"> <a href="http://nextacai.com" target="_blank"><b>www.nextacai.com</b></a></font>
</td>
</tr>
</table>

		
		
		
		
		</body>
</html>



</body>
</html>